.friend_list {
  background-color: #f3f6f9;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
  color: #212121;
  margin: 0 auto 40px;
  padding: 15px;
  width: 200px;
}

.item {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3pxrgba (0, 0, 0, 0.12), 0 1px 1pxrgba (0, 0, 0, 0.14);
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  border-radius: 50%;
  height: 12px;
  margin-right: 10px;
  width: 12px;
}

.online {
  background-color: #36b63f;
}

.offline {
  background-color: #f95552;
}

.avatar {
  border-radius: 10px;
  margin-right: 10px;
  width: 60px;
}

.name {
}
