.transactionHistory {
  display: grid;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(88, 88, 88);
  width: max-content;
  margin: 25px auto 0 auto;
}

.transactionHistory thead tr {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  background-color: rgb(0, 68, 228);
  text-transform: uppercase;
  color: rgb(200, 207, 255);
}

tbody tr {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

th,
td {
  display: flex;
  align-items: center;
  justify-content: center;
}

td:first-child {
  text-transform: capitalize;
}

th:not(:last-child),
td:not(:last-child) {
  height: 30px;
  border-right: 1px solid rgba(0, 156, 156, 0.5);
}
